{% block doctype %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">{% endblock doctype %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% block head %}
    <head>
        {% block meta %}
        <meta http-equiv="content-type" content="{% block meta.content-type %}text/html;charset=UTF-8{% endblock meta.content-type %}" />
        <meta http-equiv="content-language" content="en-us" />
        <meta http-equiv="imagetoolbar" content="false" />
        <meta name="robots" content="{% block meta_robots %}index,follow{% endblock %}" />
        <meta name="description" content="{% block meta.description %}{% endblock meta.description %}" />
        <meta name="keywords" content="{% block meta.keywords %}{% endblock meta.keywords %}" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        {% endblock meta %}
        
        {% block head.icon %}
        <link rel="icon" type="image/png" href="http://www-tc.pbs.org/images/common/icons/browser_pbslogo16.png" />
        {% endblock head.icon %}
        
        <title>{% block title %}{% endblock title %} : PBS</title>
        
        {% block css %}
            {% block css.shared %}
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css" />
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/base/base-min.css" />
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}deployed/css/notifications/notifications.css" />
            {% endblock css.shared %}
            {% block css.custom %}{% endblock css.custom %}
        {% endblock css%}
    </head>
{% endblock head %}

<body{% block bodyonload %}{% endblock bodyonload %}>
    <div {% block yahooui %}{% endblock %}>
        
        {% block layout.header %}
        <div id="hd">
            {% block layout.header_content %}{% endblock %}
        </div>
        {% endblock layout.header %}
        
        {% block layout.body %}
        <div id="bd">
            {% block layout.body_content %}{% endblock %}
        </div><!-- #bd -->
        {% endblock layout.body %}
        
        {% block layout.footer %}
        <div id="ft">
            {% block layout.footer_content %}{% endblock %}
        </div><!-- #ft -->
        {% endblock layout.footer %}
        
    </div><!-- #doc -->

    {% block js %}
        {% block js.shared %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-1.2.6.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.namespace.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}deployed/js/config.js"></script>
        {% endblock js.shared %}
        {% block js.custom %}{% endblock js.custom %}
    {% endblock js%}
</body>
</html>